.calendar_icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-image: url('../../../../assets/calendar-plus.svg');
  }
  
  .date_input_container {
    width: 500px;
    position: relative;
  }
  
  .calendar_container {
    z-index: 99;
    margin-top: 0.35rem;
    position: absolute;
    right: 0;
  }